@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
  
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container-horizontal {
  padding: 1rem;
}

.cabecera {
  background-image: url('../imagenes/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

